<div class="body">
    <div class="toolbar">
        <mat-icon class="toolbarItem ticketingIcon">receipt</mat-icon>
        <span class="toolbarItem">Ticketing</span>
        <button class="toolbarItem addButton">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="form">

        <mat-form-field>
            <input matInput placeholder="Titel" [(ngModel)]="ticket!.titel">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Beschreibung" [(ngModel)]="ticket!.beschreibung">
        </mat-form-field>
    </div>

    <div class="buttons">
        <button class="button" (click)="deleteTicket()">
            <mat-icon>delete</mat-icon>
        </button>
        <button class="button" (click)="cancel()">
            <mat-icon>cancel</mat-icon>
        </button>
        <button class="button" (click)="storeTicket()">
            <mat-icon>check</mat-icon>
        </button>
    </div>
</div>
